---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 01:48:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=134825128"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-801967373"}]}]}'
  recorded_at: Tue, 28 Sep 2021 01:48:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPEN_WEATHER_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632793688,"sunrise":1632747150,"sunset":1632790142,"temp":73.33,"feels_like":71.49,"pressure":1007,"humidity":24,"dew_point":34.39,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":1.01,"wind_deg":158,"wind_gust":3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1632790800,"temp":74.82,"feels_like":72.99,"pressure":1007,"humidity":21,"dew_point":32.32,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":12.1,"wind_deg":135,"wind_gust":18.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1632794400,"temp":73.33,"feels_like":71.49,"pressure":1007,"humidity":24,"dew_point":34.39,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":10.94,"wind_deg":138,"wind_gust":20.49,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1632798000,"temp":73.99,"feels_like":72.12,"pressure":1007,"humidity":22,"dew_point":32.79,"uvi":0,"clouds":84,"visibility":10000,"wind_speed":9.57,"wind_deg":152,"wind_gust":21.5,"weather":[{"id":803,"ma[...]
